.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.divs {
  border-radius: 10px;
  color: green;
}
.myCoolButton {
  width: 250px;
  height: 40px;
  font-size: 18px;
  padding: 20px;
  margin: 16px;
  background-color: green;
  color: aqua;
  border-radius: 10px;
  text-align: center;
  font-style: italic;
}
